{% extends "base.html" %}
{% block content %}
<section id="article-container">
    <div class="large-12 columns">
            <h1 class="entry-title">About Barcamp</h1>
            <a href="{{ SITEURL }}/theme/img/barcampcomic.png" data-lightbox="barcampcomic.png" data-title="Artwork by Mark Harris">
<img src="{{ SITEURL }}/theme/img/barcampcomic.png">
</a><div class="section" id="what-is-a-barcamp">
<h2>What is a BarCamp?</h2>
<div class="barcamp-information-icon">
    <img src="{{ SITEURL }}/theme/img/open.gif" alt="Icons showing people who can present various people who can participate" />
    <h4>Open</h4>
    <p>Everyone is welcome to attend, and everyone can present.</p>
</div>

<div class="barcamp-information-icon">
    <img src="{{ SITEURL }}/theme/img/diverse.gif" alt="Icons representing possiblities of topics at Beaver BarCamp" />
    <h4>Diverse</h4>
    <p>We encourage a wide range of topics. Food, art, technology, science, culture &#8212; the choice is yours.</p>
</div>

<div class="barcamp-information-icon">
    <img src="{{ SITEURL }}/theme/img/interactive.gif" alt="Icon representing BarCamp's interactivity." />
    <h4>Interactive</h4>
    <p>Sessions often include demos, discussions or projects, fostering audience participation.</p>
</div><hr class="docutils" />
<p>Beaver BarCamp is an informal conference where everyone is encouraged to
participate and the sessions are not predetermined. It provides a collaborative
environment that promotes the sharing of ideas and projects and is a fun, casual
event filled with discussions, demos and interaction with attendees. One of the
best aspects of BarCamp is that attendees both provide the sessions and choose
the schedule, allowing for greater flexibility and freedom.</p>
<div class="section" id="what-kind-of-sessions-happen-at-beaver-barcamp">
<h3>What kind of sessions happen at Beaver BarCamp?</h3>
<p>All kinds--from the recreational to the technical. While many are tech oriented,
we encourage any DIY, educational or interactive session.</p>
</div>
<div class="section" id="who-typically-attends">
<h3>Who typically attends?</h3>
<p>We invite everyone and anyone in the community and at OSU to enjoy Beaver
Barcamp. At BarCamp there are no spectators, only participants.  Attendees are
encouraged to demo new ideas, hold a group discussion on a specific topic,
explain a unique hobby or just about anything else.  Sometimes sessions even
spawn other sessions randomly.</p>
</div>
<div class="section" id="directions">
<h3>Directions</h3>
<p><a class="reference external" href="https://maps.google.com/maps?saddr=I-5+S&amp;daddr=Kelly+engineering+center+corvallis&amp;hl=en&amp;sll=44.587533,-123.09082&amp;sspn=0.428377,0.614548&amp;geocode=FTZBqAIduDiq-A%3BFZsKqAIdv-qm-Cm5qI1uvEDAVDFGFVZKeT-O4Q&amp;oq=Portland&amp;mra=dme&amp;mrsp=0&amp;sz=11&amp;t=m&amp;z=11">Coming from I5 south</a></p>
<ol class="arabic simple">
<li>Take exit 228 for OR-34 towards Lebanon/Corvallis.</li>
<li>At the end of the off-ramp, turn right onto OR-34 W/Corvallis-Lebanon Hwy 210.</li>
</ol>
<p><a class="reference external" href="https://maps.google.com/maps?saddr=I-5+N&amp;daddr=Kelly+engineering+center+corvallis&amp;hl=en&amp;sll=44.587533,-123.09082&amp;sspn=0.428377,0.614548&amp;geocode=FfFZpwId8zqq-A%3BFZsKqAIdv-qm-Cm5qI1uvEDAVDFGFVZKeT-O4Q&amp;oq=Portland&amp;mra=dme&amp;mrsp=0&amp;sz=11&amp;t=m&amp;z=11">Coming from I5 north</a></p>
<ol class="arabic simple">
<li>Take exit 228 for OR-34 toward Lebanon/Corvallis.</li>
<li>At the end of the off-ramp, turn left onto OR-34 W/Corvallis-Lebanon Hwy 210.</li>
</ol>
<p><strong>From there:</strong></p>
<ol class="arabic simple" start="3">
<li>Drive for 9.6 miles, then turn left onto OR-34 Bypass W/Corvallis-Newport Hwy.</li>
<li>Drive for 1.3 miles, then turn right onto SW 15th st.</li>
<li>Turn left onto SW Washington Way</li>
<li>Turn right onto SW 26th.</li>
<li>Turn right onto SW Campus Way.</li>
</ol>
<p>Arrive at Kelley Engineering Center! Hope you enjoy your visit.</p>
</div>
<div class="section" id="parking">
<h3>Parking</h3>
<p>Free parking is widely available on campus on Saturdays, with the exception of
reserved and metered stalls. There is a large parking lot to the north of
<a class="reference external" href="https://maps.google.com/maps?q=kelley+engineering+center&amp;oe=utf-8&amp;aq=t&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;hq=&amp;hnear=Kelley+Engineering+Center,+2500+NW+Monroe+Ave,+Corvallis,+Benton,+Oregon+97331&amp;t=h&amp;z=16&amp;vpsrc=0&amp;iwloc=A">Kelley Engineering Center</a> that should have enough room for everyone.</p>
</div>
</div>

    </div>
</section>
{% endblock %}
