{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }} {% endblock %}
{% block content %}
<section id="article-container">
  <article>
    <header>
      <h1 class="entry-title">{{ article.title}}</h1>
      {% include 'twitter.html' %}
    </header>

    <div class="entry-content">
      {% include 'article_infos.html' %}
      {{ article.content }}
    </div><!-- /.entry-content -->        
  </article>
    
    {% include 'sidebar.html' %}
    
</section>
{% endblock %}
