<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{{ SITENAME }}{%endblock%}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
		{% if FEED_RSS %}
		<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
		{% endif %}
		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.png" />
		<link href="{{ SITEURL }}/theme/css/lightbox.css" rel="stylesheet"/>
		<script src="/theme/js/jquery-3.6.0.min.js"></script>
		<!--Lightbox files which may help debug-->
		<script src="/theme/js/lightbox.js"></script>
	</head>

	<body>
		<main>
		<div id="header">
			<div id="logo">
				<a href="/"><img src="{{ SITEURL }}/theme/img/logo.png" alt="{{ SITENAME }} logo" /></a>
			</div>
			<nav id="main-navigation">
				<ul><li><a href="{{ SITEURL }}/">Home</a></li>
					<li><a href="{{ SITEURL }}/archives.html">Blog</a></li>
					{% for page in pages %}
					<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div>

		{% block content %}
		{% endblock %}
		</main>

		<div id="footer">
			<div id="footer-contact">
				<h5>Want BBC updates?  Follow us!</h5><br>
				<a href="http://lists.beaverbarcamp.org/mailman/listinfo/beaverbarcamp-announce"><img src='{{ SITEURL }}/theme/img/mail-icon.png' alt="Mail Icon"></a>
				<a href="http://twitter.com/beaverbarcamp"><img src="{{ SITEURL }}/theme/img/twitter-icon.png" alt="Twitter Icon"></a>
				<a href="http://facebook.com/beaverbarcamp"><img src="{{ SITEURL }}/theme/img/facebook-icon.png" alt="Facebook icon"></a>
			</div>
			<div id="footer-credits">
				<hr />
				<p class="byline">{{ SITENAME }} is hosted by the <a
	   href="https://osuosl.org">OSL</a>. The website was
   created using Zurb Foundation and Pelican Static Site
   Generator. Source info on <a href="http://github.com/osuosl/beaver-barcamp-pelican">Github</a>.</p>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="text/javascript">
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
		e.preventDefault();

		var target = this.hash,
		$target = $(target);

		$('html, body').stop().animate({
			'scrollTop': $target.offset().top
		}, 900, 'swing', function () {
			window.location.hash = target;
		});
	});
});
		</script>

		{% include 'analytics.html' %}
	</body>
</html>
