<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/theme/css/style.css" type="text/css" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
  
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />

        <link href='http://fonts.googleapis.com/css?family=Raleway:800,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
        
        <link rel="shortcut icon" href="/theme/img/favicon.png" />
                
</head>

<body>
    <div id="header">
        <div id="logo">
            <a href="/"><img src="/theme/img/logo.png" alt="Beaver Barcamp logo" /></a>
        </div>

        {% block content %}
        {% endblock %}
    
    
    
      <div id="footer">
        <div id="footer-container">
            <p>Site created using Zurb Foundation and Pelican Static Site Generator. <br /> Web content and layout available on <a href="http://github.com/osuosl/beaver-barcamp-pelican">Github</a> under the <a href="http://opensource.org/licenses/MIT">MIT License</a>. Beaver Illustration &copy; 2013 <a href="http://mitchill.net">Mitchell Garcia</a>.</p>
        </div>
    </div>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script type="text/javascript">
     $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();

        var target = this.hash,
        $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 900, 'swing', function () {
            window.location.hash = target;
        });
    });
});
     </script>

{% include 'analytics.html' %}
</body>
</html>
