<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap-responsive.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        
        <link rel="shortcut icon" href="theme/img/favicon.png" />
		<!--Antic Slab font from Google Web Fonts-->
		<link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
		
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
        -->
                
</head>

<body id="index" class="home">
        <header id="banner" class="page-header">
        	<div class="container">
        		<div class="row-fluid">
    				<div class="span5" id="logo">
     		    	   	<a href="http://beaverbarcamp.org"><img src="{{ SITEURL }}/theme/img/logo.png" alt="Beaver Barcamp Logo" border="0" /></a>
     	      	  	</div>
     	       
        			<div class="span4" id="navbar">	
        				<ul>
   							 <li><a href="{{ SITEURL }}">Home</a></li>
    			 			<li><a href="{{ SITEURL }}/archives.html">Blog</a></li>
   							 <li><a href="{{ SITEURL }}/pages/sponsors.html">Sponsors</a></li>
   							 <li><a href="{{ SITEURL }}/pages/faq.html">FAQ</a></li>
   							 <li><a href="{{ SITEURL }}/pages/contact.html">Contact</a></li>
   						</ul>
						<div class="clrfix"></div>
    				</div>
    				
    				<div class="span3 large-margin">
    				
    					<a href="https://twitter.com/beaverbarcamp" class="twitter-follow-button" data-show-count="true">Follow @beaverbarcamp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
	
    				</div>
    			
    			</div>
    		</header>
    		
    		
    		
    		<!-- <div class="hero-unit" id="hero-centered">
        		<h1 style="color:#fff;">Welcome to Beaver Barcamp 11</h1>
       			 <a href="#"><img src="{{ SITEURL }}/theme/img/DateRibbon.png" id="Date" alt="Save the Date, Beaver Barcamp 11 is on April 20th 2013" /></a>
   			</div>-->
    		
    		<div class="white-container">
    			<div class="container">
    				<div class="row">
    					<div class="span8">
        {% block content %}
        {% endblock %}
        
        			</div> <!--end .span8 -->
        			
        			<div class="span4">
        				<h3 class="sidebar-title">Beaver Barcamp 11 <a href="https://docs.google.com/a/osuosl.org/document/pub?id=1Y6DboGpZzw9M8eupCcWFVeplm9z_aWUdUXLIvVFYyqQ" class="btn btn-custom" id="sessions">Download Info Sheet</a> </h3>
            			<p><i class="icon-calendar"></i> <strong>April 20, 2013</strong></p>
            			<p><i class="icon-time"></i> 10:00am - 6:00pm </p>
            			<p><i class="icon-map-marker"></i> <a href="http://maps.google.com/maps?q=2500+NW+Monroe+Ave,+Corvallis,+OR+97330,+USA&sa=X&oi=map&ct=title"> Kelley Engineering Center at Oregon State University<br /></a> 
            	 			<small style="padding:0 0 0px 18px;">2500 NW Monroe, Corvallis, OR</small> </p>
            			<p><i class="icon-star"></i> Register for event on <a href="https://www.facebook.com/events/547298625310712/">Facebook</a></p>

            		<hr />
            		
            		<h4 class="sidebar-title" id="schedule">Schedule 
					<a href="https://docs.google.com/a/osuosl.org/spreadsheet/pub?key=0Au0wOPQwuelMdEFFR0wzZHR5a3R3a3JOcDFFaGNjTGc&output=html" class="btn btn-custom" id="sessions">View Sessions</a></h4>
            	 <a name="#schedule"></a>
            	 <table class="table table-hover table-bordered" id="schedule-table">
            	 	<tr>
            	 		<td>9:30am</td> <td>Setup</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>10:00am</td> <td>Organize Sessions</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>10:30am</td> <td>Session 1</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>11:30am</td> <td>Session 2</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>12:30pm</td> <td>Lunch</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>1:30pm</td> <td>Session 3</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>2:30pm</td> <td>Session 4</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>3:30pm</td> <td>Break</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>4:00pm</td> <td>Session 5</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>5:00pm</td> <td>Session 6</td>
            	 	</tr>
            	 	
            	 	<tr>
            	 		<td>6:00pm</td> <td>Closing Remarks</td>
            	 	</tr>
            	 	

				</table>
        			</div><!--end .span4-->
        		</div><!-- end .row -->

        </div>
    
      <div id="footer">
    	<div id="footer-container">
    		<div class="row">
    		<a href="https://github.com/osuosl/beaver-barcamp-pelican"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    		<div class="span2"><a href="http://beaverbarcamp.org"><img src="{{ SITEURL }}/theme/img/barcamp-symbol.png" alt="Beaver Barcamp Logo" /></a></div>
    			
    			<div class="span8">
    				<ul class="inline">
    				<li><a href="{{ SITEURL }}">Home</a>
    				<li><a href="{{ SITEURL }}/archives.html">Blog</a></li>
    			{% for page in PAGES %}
        			<li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    			{% endfor %}
    				</ul>
    				
    				<div class="clrfix padding-min"></div>
    				<ul class="inline">
    					<li>Other Links:</li>
    					<li><a href="https://docs.google.com/a/osuosl.org/document/pub?id=1Y6DboGpZzw9M8eupCcWFVeplm9z_aWUdUXLIvVFYyqQ">Information Sheet</a></li>
    					<li><a href="https://docs.google.com/a/osuosl.org/spreadsheet/pub?key=0Au0wOPQwuelMdEFFR0wzZHR5a3R3a3JOcDFFaGNjTGc&output=html">Session Schedule</a></li>

    					<li><a href="https://www.facebook.com/events/547298625310712/">Facebook Event Page</a></li>
    					<li><a href="http://twitter.com/beaverbarcamp">Beaver Barcamp on Twitter</a></li>
    				</ul>
    				
    			<div class="clrfix"> <hr /></div>
    			Site built with <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> and <a href="http://docs.getpelican.com/en/3.1.1/">Pelican Static Site Generator</a>. Want to view <a href="https://github.com/osuosl/beaver-barcamp-pelican">the source</a>?

    			</div>
       				<div class="span2">Event hosted by the <a href="http://osuosl.org"><img src="{{ SITEURL }}/theme/img/osl-smallwhite.png" style="margin:5px 0;" alt="Open Source Lab"> <strong>OSU Open Source Lab</strong></a>
       				</div>
       			</div>
    	</div>
    </div>
    
  </body>
</html>

{% include 'analytics.html' %}

<script src="{{ SITEURL }}/theme/js/jquery.js"></script>
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
<script type="javascript">
$(".alert").alert()
</script>
</body>
</html>
