{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    </div>

    <div id="feature-text">
        <h2>Share Your <br />Passion</h2>
        <div id="beaver-small"><img src="/theme/img/beaver-small.gif" alt="Beaver Barcamp icon" /></div>
        <h4>{{ SITENAME }}</h4>
        <h5>Oct. 12, 2013 at the<br />Kelley Engineering Center</h5>
        <a href="http://www.eventbrite.com/event/7825611615" id="register-button"/>Register Now</a>
    </div>

    <div id="beaver"></div>

    <div id="white-border"></div>

    <div class="content-container">
        <section id="about"></section>
        <div class="content">
            <div id="what-is-barcamp">
                
                
                <div id="about-barcamp">
                    </div>
                
                <div id="faq">
                    
                    <section id="questions"></section>
                    <h3 class="secondary-head">FAQ</h3>
                    <p class="lead">Who should attend BarCamp?</p>
                    <p>Everyone -- Beaver BarCamp is open to the community and is free of charge.</p>
                    <hr />
                    <p class="lead">How are topics chosen?</p>
                    <p>Most session topics are scheduled the morning of the event and are provided by the attendees.</p>
                    <hr />
                    
                    <p class="lead">Who should present?</p>
                    <p>We welcome presentations of all kinds, and expertise is not required. Come prepared to share something you are passionate about, whether its your job, hobby or interests. And formal Powerpoint presentations are not required: lead a discussion, demo a project, play a game, or teach a skill. One of the best aspects of BarCamp is that attendees both provide the sessions and choose the schedule, allowing for greater flexibility and fun. Please pitch your idea here.</p>
                    <hr />

                    <p class="lead">Do I have to present?</p>
                    <p>Nope. You are welcome to participate however you are most comfortable. Come and meet new people, learn something new, or participate in a discussion.</p>
                    <hr />

                    <p class="lead">What should I bring?</p>
                    <p>Nothing is required, but you may find it convenient to bring a laptop or mobile device (Wi-Fi is provided), notebook and pen, reusable water bottle, and a camera.</p>
                    <hr />

                    <p class="lead">Do I Need To RSVP?</p>
                    <p>RSVP is not required, but we would love if you registered for the event on EventBrite. This helps us plan for enough food, accommodate dietary restrictions, and purchase enough t-shirts.</p>
                    <hr />

                    <p class="lead">Wi-Fi?</p>
                    <p>Wi-Fi will be available and free to use while at the conference. An account and password will be provided at the event.</p>
                    <hr />

                    <p class="lead">Are food and drinks provided?</p>
                    <p>Yes, there will be continental breakfast, lunch and afternoon snack.</p>
                    <hr />

                    <p class="lead">Where do I park?</p>
                    <p>Free parking is widely available on campus on Saturdays, with the exception of reserved and metered stalls. There is a large parking lot to the north of Kelly Engineering that should have enough room for everyone.</p>
                    <hr />

                    <p class="lead">What will the session topics be?</p>
                    <p>At Beaver BarCamp, the majority of sessions are not prearranged. Attendees at each BarCamp propose their own session ideas on the day of the event, and the schedules are updated throughout  the day to make sure the most popular sessions get the largest rooms.</p>
                    <hr />

                    <p class="lead">Does BarCamp have something to do with bars and alcohol?</p>
                    <p>No, it doesn't. Its actually a hacker reference to FooBar which is typically used as a placeholder name when describing something in software code. BarCamp arose as an open to the public alternative to Foo Camp, which is an invitation-only conference.</p>
                </div>
            </div>


{% if articles %}
    <div id="blog-posts">
    <section id="blog"></section>
        <h3 class="secondary-head">Beaver Barcamp Blog</h3>

    {% for article in articles_page.object_list %}      
  				
        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="featured" class="body">
                <article>
                    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2> 
                    {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                </article>
                {% if loop.length == 1 %}
                    {% include 'pagination.html' %}
                {% endif %}
            </aside><!-- /#featured -->
        {# other items #}
        {% else %} 
            {% if loop.first and articles_page.has_previous %}
                <section id="content" class="body">
            {% endif %}
            <hr />
            <article class="hentry">    
                    <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                
                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            </article>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

    <div id="sponsors">
        <div class="large-8 columns">
        <section id="sponsors"></section>
            <h3 class="secondary-head">Beaver Barcamp Sponsors</h3>
            
        <p class="lead">Interested in sponsoring {{ SITENAME }}? Please email 
        <SCRIPT TYPE="text/javascript">
                
                emailE=('info@' + 'beaverbarcamp.org')
                document.write('<A href="mailto:' + emailE + '">' + emailE + '</a>')
                
                </script></h2>

                <NOSCRIPT>
                    <img src="theme/img/nojsemail.png" alt="Contact us at this e-mail. P.S. enable javascript">
                </NOSCRIPT></p>
        </div>
    </div>    
    </div>

    <!-- End #content-container -->
    </div>
{% endblock content %}
