{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    <div id="feature-text">
        <h2>Share Your Passion</h2>
        <div id="beaver-small"><img src="{{ SITEURL }}/theme/img/beaver-small.gif" alt="Beaver Barcamp icon" /></div>
        <h4>{{ SITENAME }}</h4>
        <span class="tab--tiny">With <a href="pages/faq.html">Lightning Talks!</a></span>
        <span class="tab--tiny">What is <a href="pages/about.html">Barcamp?</a></span>
        <!-- <h5>>May 2, 2020 from 9am-6pm<br />Kelley Engineering Center><br> -->
        <p>
            <a href="/bbc20-cancelled.html" id="register-button">Cancelled due to COVID-19</a>
        </p>
        <!-- <p>Watch this website for registration information in the early Spring 2020</p> -->
        <!-- <p>Registration is free -- sign up today!</p> -->
        <!-- <a href="http://beaverbarcamp20.eventbrite.com" id="register-button">Register</a>&emsp;
        <a href="https://beavsgive.org/?cfpage=project&project_id=34426" id="register-button">Donate</a></h5><br><br> -->
   </div>
    <div id="beaver"></div>
{% endblock content %}
