{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    <div id="feature-text">
        <h2>Share Your <br />Passion</h2>
        <div id="beaver-small"><img src="/theme/img/beaver-small.gif" alt="Beaver Barcamp icon" /></div>
        <h4>{{ SITENAME }}</h4>
        <h5>Oct. 12, 2013 at the<br />Kelley Engineering Center</h5>
        <a href="http://www.eventbrite.com/event/7825611615" id="register-button"/>Register Now</a>
    </div>

    <div id="beaver"></div>      
{% endblock content %}
